@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


:root {
    --primary-color: rgba(80, 216, 216, 0.494);
    --secondary-color: rgb(81, 168, 189);
    --accent1-color: rgba(219, 113, 0, 0.675);
    --accent2-color: rgb(59, 86, 118);

    --heading-font: "Merienda", Handwriting;
    --paragraph-font: "Noto Sans", Sans-Serif;
    --aleatory-font: "mukta", sans-serif;
    --nav-background-color: rgba(69, 95, 126, 0.452);
    --nav-link-color: rgba(185, 218, 235, 0.89);
    --nav-hover-link-color: #ffffffc9;
    --nav-hover-background-color: #a6b7cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
                                ABOUT US
*/

body, html {
    height: 100%;
    font-family: var(--paragraph-font);
    background-color: #f0f0f0;
}

header {
    background-color: rgba(39, 70, 107, 0.7);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000; 
}
header img {
    margin-left: 20px;
    max-width: 100px;
}

.navigation {
    display: flex;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 22px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

div.hero h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--nav-hover-link-color);
    top: 200px;
    width: 100%; 
    z-index: 50; 
    background-color: rgba(61, 82, 108, 0.7); 
    padding: 0.5em; 
    text-align: center; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 90px;
    font-weight:700; 

}

h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 50px;
    padding: 20px;
    display: grid;
    justify-content: center;
    margin: 0em;
}
p{
    padding: 1em;
    font-family: var(--paragraph-font);
    font-size: 20px;
    font-weight: 700;
}

nav a {
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

.hero img {
    position: relative; 
    max-width: 75em; 
    margin: 0 auto;
    max-width: 100%;
}

article {
    position: absolute;
    top: 20rem; 
    width: 70%;
    height: 40%;
    z-index: 50; 
    background-color: rgba(61, 82, 108, 0.7);; 
    padding: 4em; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    color: var(--nav-hover-link-color);
    overflow: hidden; 
    margin: 200px
}

article img {
    float: right;  
    margin-left: 20em; 
    margin-bottom: 1em; 
    display: block;
    max-width: 100%;
}

a img {
    width: 3rem;
}

footer {
    text-decoration: none;
    background-color: rgba(39, 70, 107, 0.7);
    padding: 20px;
    display: grid;
    grid-template-columns: 7fr 2fr;
    align-items: center;
    color: black;
}

.navigation a:hover {
	color: var(--nav-hover-link-color);
	font-weight: 1000;
	text-decoration: none;
    font-family: var(--heading-font);
    font-size: 25px;
}
.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px; 
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 200px; 
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--nav-hover-background-color);
}

.image-item figcaption {
    background-color: var(--nav-hover-background-color);
    margin-top: 10px;
    font-size: 1rem;
    color: black; 
    font-family: var(--aleatory-font)
}

.history {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    text-align: center;
}

/*
                                CONTACT US
*/

.form {
    width: 100%;
    height: auto;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

#fullscreen-image {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    background-color: var(--nav-background-color);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1;

    grid-row: 1 / 2;
    grid-column: 1 / 2;

    margin-block: 3rem;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    box-sizing: border-box; 

}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4); 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
    

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

div {
    margin: 20px;
    font-weight: 600;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: 20px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px; /* Espacio entre el checkbox/radio y el texto */
}

div.type, div.subscribe {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px; 
}

.workers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px; 
    background-color: var(--nav-background-color);
    padding: 2.5em;
    box-sizing: border-box;
}

.workers-item {
    text-align: center;
}

.workers img {
    width: 320px; 
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--nav-hover-background-color);
}

.workers figcaption {
    margin-top: 10px;
    font-size: 1.5rem;
    color: black; 
    font-family: var(--aleatory-font)
}

div.company-info {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 20px;
}

iframe{
    border-radius: 100px;
}

section.info {
    border-radius: 100px;
    background-color: var(--nav-hover-background-color);
    text-align: center;
    padding: 2em;
}

section.info h3 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 40px;
    padding: 10px;
    display: grid;
    justify-content: center;
    margin: 0em;
}

section.info p, section.info a {
    font-size: 25px;
    margin: 1px;
    padding: 2px;
    text-decoration: none;
    color: rgba(56, 56, 60, 0.658);
}

h1 {
    font-family: var(--heading-font);
    color:  var(--accent2-color);
    top: 200px;
    width: 100%; 
    z-index: 50; 
    background-color: var(--nav-background-color); 
    padding: 0.5em; 
    text-align: center; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 90px;
    font-weight:700; 
    }

/*
                                TRIPS
*/
